<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>California Ale Trail - Hoppy Beers</title>

<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/css/stylish-portfolio.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
                                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->

</head>

<body>
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 > <i>Dark, deep mysterious. Just like you.<br> How about a couple of words about your ideal beer?</i> </h1>
        <br>
        <table align="center">
            <tr>
                <td><img src="../static/img/beer_hoppiness_0.png" width=50% align=center></td>
                <td> 
                    <section>
                        <h2 style="color:white; font-size:8em; text-align:left;"><i>Flavors</i></h2>
                        <ul class="input-list style-1 clearfix">
                            <form action="/dark_results" method="POST">
                                <li>
                                <input type="text" name="hop_word_1" style="font-size:4em;" placeholder="chocolate?">
                                </li>
                                <li>
                                <input type="text" name="hop_word_2" style="font-size:4em;" placeholder="coffee?">
                                </li>
                                <input type="submit" style="font-size:3em;"name="hop-word-form" >
                            </ul>
                        </section> 
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </header>
    </body>
</html>
